* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(37, 36, 36);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.logo {
    width: 120px;
}

.menus {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.menu-item:hover {
    color: rgb(198, 203, 203);
    cursor: pointer;
}